In [1]:
import pandas as pd

In [5]:
a = {'Physics Scores' :  [15,  12,  8,   8,   7,   7,   7,   6,   5,   3],
'History Scores' : [10,  25,  17,  11,  13,  17,  20,  13,  9,   15]}

In [7]:
pd.DataFrame(a)

   Physics Scores  History Scores
0              15              10
1              12              25
2               8              17
3               8              11
4               7              13
5               7              17
6               7              20
7               6              13
8               5               9
9               3              15

In [10]:
from scipy import stats

In [16]:
?stats.pearsonr

In [13]:
b = stats.pearsonr(x=a['Physics Scores'],
              y=a['History Scores'])[0]

In [15]:
round(b, 3)

0.145

In [18]:
a = [[float(0.2)]]