In [102]:
import pandas as pd

In [103]:
docs = pd.read_csv('/Users/chughes/Documents/DS/docclass_trainingdata.txt')

In [104]:
docs.shape

(5485, 1)

In [105]:
docs.head()

                                                5485
0  1 champion products ch approves stock split ch...
1  2 computer terminal systems cpml completes sal...
2  1 cobanco inc cbco year net shr cts vs dlrs ne...
3  1 am international inc am nd qtr jan oper shr ...
4  1 brown forman inc bfd th qtr net shr one dlr ...

In [106]:
docs['Class'] = docs['5485'].apply(lambda x: int(x[0]))
docs['Text'] = docs['5485'].apply(lambda x: x[1:])
docs.drop(['5485'], inplace=True, axis=1)
docs = docs[['Text', 'Class']]

In [107]:
docs.head(10)

                                                Text  Class
0   champion products ch approves stock split cha...      1
1   computer terminal systems cpml completes sale...      2
2   cobanco inc cbco year net shr cts vs dlrs net...      1
3   am international inc am nd qtr jan oper shr l...      1
4   brown forman inc bfd th qtr net shr one dlr v...      1
5   dean foods df sees strong th qtr earnings dea...      1
6   brown forman bfdb sets stock split ups payout...      1
7   esquire radio and electronics inc ee th qtr s...      1
8   united presidential corp upco th qtr net shr ...      1
9   owens and minor inc obod raises qtly dividend...      1

In [108]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer

In [120]:
#tokenizer to remove unwanted elements from out data like symbols and numbers
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(lowercase=True,stop_words='english',ngram_range = (1,2),
                     tokenizer = token.tokenize,
                    max_features=8000)
text_counts= cv.fit_transform(docs['Text'])

#### Do I need to split train and test?

In [121]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text_counts, docs['Class'],
                                                    stratify=docs['Class'], 
                                                    test_size=0.20)

In [122]:
# Ignore train/test split
X_train = text_counts
y_train = docs['Class']

In [131]:
from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
# Model Generation Using Multinomial Naive Bayes
#clf = MultinomialNB().fit(X_train, y_train)
clf = SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, n_iter=8, random_state=42).fit(X_train, y_train)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 1.0

/anaconda3/envs/dssb/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

In [124]:
def file2list(fp):
    with open(fp) as f:
        list_ = f.readlines()
    cleaned_file = [x.strip('\n') for x in list_]
    return(cleaned_file)

### Sample

In [125]:
test_data = file2list('/Users/chughes/Documents/DS/doc_class_text.txt')

In [126]:
no_docs = int(test_data[0])
no_docs

3

In [127]:
tt = pd.DataFrame(test_data[1:], columns=['Text'])

In [128]:
tt['Text']

0                    This is a document
1              this is another document
2    documents are seperated by newlines
Name: Text, dtype: object

In [129]:
print(clf.predict(cv.transform(tt['Text'])))

[2 2 2]

In [130]:
# We want 
1
4
8

8